/* location.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    animation: gradientAnimation 10s infinite linear;
    color: #fff;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

#locationInput {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#locationInput:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#suggestions {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #333; /* Change suggestion border color */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #000; /* Change suggestion background color */
}

.suggestion {
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
}

.suggestion:last-child {
    border-bottom: none;
}

.suggestion:hover {
    background-color: #333; /* Change suggestion hover color */
}
